<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<div *ngFor="let tampil of board">
	{{ tampil }}
</div>

<ng-template *ngIf="pemain; then templatetrue; else templatefalse"></ng-template>

<ng-template #templatetrue>
	<p>Pemain 0</p>
</ng-template>

<ng-template #templatefalse>
	<p>Pemain 1</p>
</ng-template>

baris : <input type="number" [(ngModel)]="baris"> <br>
kolom : <input type="number" [(ngModel)]="kolom">

<button (click)="play(baris,kolom)">play</button>